<!DOCTYPE html>

<!--Footer-->
<footer class="page-footer center-on-small-only">

<!--Footer Links-->
<div class="container">
    <div class="row">



        <!--Second column-->
        <div class="col-lg-3">
            <!-- <h5 class="title">Links</h5> -->
            <ul>
              <li>
                <a class="js-scroll-trigger" href="{% url 'home' %}#page-top">Inicio</a>
              </li>
              <li>
                <a class="js-scroll-trigger" href="{% url 'confirmar' %}">Confirmar asistencia</a>
              </li>
              <li>
                <a class="js-scroll-trigger" href="{% url 'home' %}#ceremonia">Ceremonia</a>
              </li>
            </ul>
        </div>
        <!--/.Second column-->

        <!--Second column-->
        <div class="col-lg-3">
            <!--<h5 class="title">Links</h5>-->
            <ul >
              <li>
                <a class="js-scroll-trigger" href="{% url 'home' %}#recepcion">Recepción</a>
              </li>
              <li>
                <a class="js-scroll-trigger" href="{% url 'home' %}#mapas">Mapa</a>
              </li>
              <li>
                <a class="js-scroll-trigger" href="{% url 'home' %}#historia">Historia</a>
              </li>
            </ul>
        </div>
        <!--/.Second column-->

        <!--First column-->
        <div class="col-lg-6">
            <h5 class="title">celebrar.vip</h5>
            <p>modelapp_a.com es un sitio de celebrar.vip, producido por MVCraft. Más información en <a href="https://mvcrafts.com">https://mvcrafts.com</a></p>
        </div>
        <!--/.First column-->
    </div>
</div>
<!--/.Footer Links-->

<!--Copyright-->
<div class="footer-copyright">
    <div class="container-fluid">
        © 2018 Copyright: <a href="https://twitter.com/alejandromesias" target="blank"> @alejandromesias </a>

    </div>
</div>
<!--/.Copyright-->

</footer>
<!--/.Footer-->
