@font-face {
  font-family: 'AmarilloFont';
  src: url('../mvfonts/Amarillo.ttf');
}


#mainNav .navbar-brand-nyv {
  font-weight: 400;
  font-size: 1.2rem;
  color: #ffffff;
  font-family: 'AmarilloFont', Georgia, Arial;
}

#mainNav .navbar-brand-nyv:focus, #mainNav .navbar-brand-nyv:hover {
  color: #ffe5d5;
}
